body {
    font-family: Raleway;
}

.page-all {
    width: 1920px;
    margin: 0 auto;
}

/*блок лого и меню*/

.header-row {
    background-image: url(img/header.jpg);
    position: relative;
}

.header {
    display: flex;
}

.logo {
    fill: white;
    color: white;
    text-decoration: none;
    margin: 40px 376px;
    display: flex;
}

.logo-txt {
    align-self: center;
    font-size: 34px;
    /* Приближение из-за подстановки шрифтов */
    text-align: right;
}

.logo:hover {
    color: #c7b29a;
    ;
}

.menu {
    list-style: none;
    display: flex;
}

.menu a {
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding: 0 30px 0 0;
    text-decoration: none;
    display: inline-block;
    margin-top: 62px;
    font-weight: 300;
}

.menu a:hover {
    color: #c7b29a;
}

.menu .active-link {
    color: #c7b29a;
    ;
    font-weight: 300;
    text-align: right;
}

.shopping-bag {
    color: #ffffff;
}

shopping-bag:hover svg {
    color: #c7b299;
}

.focus_search input#search {
    width: 24px;
    background: transparent;
    border: none;
    font-weight: 300;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 10px;
    color: #ffffff;
}

.focus_search {
    position: absolute;
    top: 80px;
    color: #ffffff;
}

.focus_search input#search:focus,
.focus_search input#search:active {
    outline: none;
    width: 200px;
    border: 1px solid #c7b29a;
}

.focus_search:hover input#search {
    width: 70%;
    border: 1px solid #c7b29a;
}

.focus_search:hover .icon {
    color: #c7b29a;
}

/*блок со слайдером*/

.content {
    text-align: center;
    color: #ffffff;
}

.content-tag {
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
}

.content-name {
    font-size: 52px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.content-desc {
    width: 562px;
    font-weight: 300;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    margin: 0 680px;
    margin-bottom: 52px;
}

.content-btn {
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    padding: 21px 38px;
    text-transform: uppercase;
}

.content-btn:hover {
    box-shadow: 0 4px 15px 1px rgba(225, 225, 225, 1);
}

.slider-arrow {
    /* border: 1px solid black; */
    display: flex;
    width: 1700px;
    position: relative;
    /*    margin: 0 150px;*/
    justify-content: space-between;
}

.slider-arrow-left:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(225deg);
    position: absolute;
    top: 10px;
    left: 150px;
}

.slider-arrow-right:before {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: -50px;
}

.slider-arrow-left:hover:after {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.slider-arrow-right:hover:before {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

/*листалка слайдера*/

.slider-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 329px;
    padding-bottom: 42px;
}

.circle {
    margin: 0 6px;
    border-radius: 50%;
    display: block;
    background-color: #ffffff;
    width: 11px;
    height: 11px;
    border: 2px solid transparent;
}

.circle-active {
    border-radius: 50%;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    background-color: transparent;
    width: 15px;
    height: 15px;
    margin: 0 3px;
}

.circle:hover {
    border-radius: 50%;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    background-color: transparent;
    width: 15px;
    height: 15px;
}

/*блок с фигурами*/

.four_figure {
    display: flex;
    justify-content: space-between;
    margin: 0 377px;
}

.link-services {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 30px 30px 116px 30px;
    color: #555555;
    font-size: 22px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
}

.link-services:hover svg {
    fill: #c7b299;
}


.link-services:hover span,
.link-services:hover p {
    color: #c7b299;
}

.link-services:hover:after {
    background-color: #c7b299;
}

.link-services svg {
    fill: #555555;
    padding: 30px;
}

.link-services span {
    width: 100%;
    margin: 10px 0 0 0;
}

.link-services p {
    font-family: Montserrat;
    width: 266px;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
}

.link-services:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

/*блок со скриншотами*/

.screenshots {
    background-color: #fbfaf8;
    flex-direction: column;
    position: relative;
}

.screenshots h2 {
    color: #555555;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    padding-top: 83px;
    margin: 0 auto;
}

.screenshots p {
    font-family: Montserrat;
    width: 757px;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin: 0 582px;
}

.screenshots-child {
    margin-top: 540px;
    background-color: #fbfaf8;
    display: flex;
    align-items: flex-end;

}

.screenshots-child1 {
    width: 770px;
    position: absolute;
    left: 345px;
    z-index: 2;
}

.screenshots-child2 {
    width: 770px;
    position: absolute;
    left: 576px;
    z-index: 3;
}

.screenshots-child3 {
    width: 770px;
    position: absolute;
    right: 345px;
    z-index: 1;
}

.screenshots-child1:hover {
    transform: scale(1.2, 1.2) translate(0, -32px);
    z-index: 4;
}

.screenshots-child2:hover {
    transform: scale(1.2, 1.2) translate(0, -40px);
    z-index: 5;
}

.screenshots-child3:hover {
    transform: scale(1.2) translate(0, -32px);
    z-index: 4;
}

/*блок с рекламой*/

.aside {
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    width: 1920px;
    display: flex;
    justify-content: space-between;
}

.aside-block {
    color: #ffffff;
    font-size: 28px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    margin-left: 376px;
    margin-bottom: 49px;
}

.aside h2 {
    margin-bottom: 0;
}

.aside p {
    margin: 8px 0 0 0;
}

.aside span {
    color: #c7b299;
}

.aside-btn {
    display: block;
    border-radius: 3px;
    background-color: #998675;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    padding: 20px 28px;
    margin: 68px 374px 68px 0;
    text-transform: uppercase;
}

.aside-btn:hover {
    box-shadow: 0 4px 15px 1px rgba(225, 225, 225, 1);
}

/*Блок с другими проектами*/

.other-projects {
    background-color: #ffffff;
}

.other-projects h2 {
    width: 281px;
    color: #555555;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    margin-left: 823px;
}

.other-projects-p {
    width: 757px;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 583px;
}

.other-projects-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 757px;
    margin-left: 658px;
}

.other-projects-bnt {
    display: block;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    background-color: rgba(17, 17, 17, 0);
    padding: 9px 23px;
    margin: 10px;
}

.other-projects-bnt {
    text-decoration: none;
    font-family: Montserrat;
    color: #8c8c8c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 21px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.other-projects-bnt:hover {
    background-color: #998675;
    color: #ffffff;
    box-shadow: 0 4px 15px 1px rgba(154, 135, 118, 1);
}

.other-projects-items {
    display: flex;
    justify-content: space-between;
    margin: 40px 375px;

}

.other-projects-item1 {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
